body{
	margin: 0;
	background-color: #f1f1f1;
}

button.navbar-toggler{
	border:hidden;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}